/* CSS Document */

/*** http://bootsnipp.com/snippets/featured/panels-with-nav-tabs ***/

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px;
}


/*** PANEL SUCCESS ***/

.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
}

.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
  background-color: #d6e9c6;
  border-color: transparent;
}

.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
  color: #3c763d;
  background-color: #fff;
  border-color: #d6e9c6;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #3c763d;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #d6e9c6;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #3c763d;
}


/********************************************************************/

.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 15px solid #fff;
  border-left: 15px solid #fff;
}

.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}

.nav-pills.nav-wizard > li:first-child a {
  border-radius: 0px 0 0 0px;
}

.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}

.nav-pills.nav-wizard > li:last-child a {
  border-radius: 0 0px 0px 0;
}

.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
}

.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}

.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}


.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #aaa;
}

.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #aaa #aaa #aaa transparent;
}

.nav-pills.nav-wizard > li:hover a {
  background-color: #aaa;
  color: #fff;
}

.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent  #ed1c24;
}

.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color:  #ed1c24  #ed1c24  #ed1c24 transparent;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border-top-color: #ed1c24;
  border-bottom-color: 
}

.nav-pills.nav-wizard > li.active a {
  background-color:  #ed1c24;
}
	
.nav > li > a {
  position: relative;
  display: block;
  padding: 9.5px 15px;
}


